.mensajes{
    background:white;
    height:500px;
    overflow:auto;
}

.mensajes li{
    padding:5px;
    background:#46b8da;
}

.mensajes li.active{
    padding:5px;
    background:#76afaf;
}

.contactos{
    height:500px;
    overflow:auto;
    padding-left: 5px;
    background: white;
}

.contactos a{
    color: black;
    display: block;
    font-size: 15px;                        
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border: 2px solid white;
}

.contactos a.active, .contactos a:hover{
    background: #46b8da none repeat scroll 0 0;
    border: 2px solid #76afaf;
    box-shadow: 1px 1px 1px #46b8da;
    color: white;
    text-decoration: none;
}

.contactos a img{
    width:30px;
}                    

.contactos li.title{
    background:transparent;
}


ul, li{
    list-style:none;
    text-align: left;
    padding:0px;
    margin:5px 0;
}