.itinerarioinputs{
    display: inline-block;
    width: 100%;
}

.itinerarioinputs .col-xs-2{
    margin-right:0px;
}

.itinerarioinputs .col-xs-9, .itinerarioinputs .col-xs-6, .itinerarioinputs .col-xs-12{
    padding:0px;
}

.servNumber{
    background: #056f99 none repeat scroll 0 0;
    color: white;
    font-size: 30px;
    line-height: 69px;
    margin-right: -15px;
    overflow: hidden;
    text-align: center;
}

.servNumberDel{
    cursor:pointer;
    position: relative;
}

.servNumberDel span{
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: -23px;
}

.servDel{
    cursor: pointer;
}

.tipo a > div {
    background: #2b386c none repeat scroll 0 0;
    border: 1px solid lightgray;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    line-height: 20px;
    padding: 5px 0 0;
    text-align: center;
}

.tipo a:hover > div, .tipo a.active > div{
    background: #339ec6 none repeat scroll 0 0;
}

.favclick{
    cursor:pointer;
}

/***** Rastreo ********/
.rastreo, .rastreo li{
    margin:0px;
    padding:0px;
    list-style:none;
}

.rastreo li{
    display:inline-block;
    margin: 10px 10px;
    width:18%;
    text-align:center;
}

.rastreo li .number{
    padding:5px 10px; 
    border:1px solid lightgray;
    border-radius:10px;
    text-align:center;
    width:40px;
    margin:0 auto;
    background:white;
    position:relative;
}

.rastreo li .active{
    background:#056f99;
    color:white;
}

.panel-primary > .panel-heading {
    background-color: #2b386c;
    border-color: #2b386c;
    color: #fff;
}

.panel-primary {
    border-color: #2b386c;
}