body{
    background:lightgray;
}
header{
    
}

.navbar {
    background: #1FA950 none repeat scroll 0 0;
}

.no-skin .nav-list li.active > a::after {
    -moz-border-right-colors: #1FA950;
    border-right-color: #1FA950;
}


.no-skin .nav-list > li.highlight.active::before {
    background-color: #1FA950;
    display: block;
}

.nav-list > li::before {
    background-color: #1FA950;
    content: "";
    display: none;
    height: 41px;
    left: 0;
    max-width: 3px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 3px;
    z-index: 1;
}

.no-skin .nav-list > li.active > a {
    color: #1FA950;
    font-weight: 700;
}

.page-header h1 {
    color: #1FA950;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 8px;
    padding: 0;
}

.panel-default > .panel-heading {
    background-color: #6fefa0;
    border-color: #6fefa0;
    color: #333333;
}
