<ion-view view-title="Dashboard">
  <ion-content class="padding login">      
      <div style="margin-top:10%;">
          <form ng-submit="login(data)">
            <div class="list">
                <div style="text-align:center">
                    <img src="img/logo3.png" style="width:40%; margin-bottom:40px;">
                </div>
                <div style="text-align:center; padding:0 40px; margin-bottom: 80px;">
                    <h3 style="color:#2b376b;">En mensajeros.ec lo hacemos por ti</h3>
                </div>                
                <a href="#/tab/login" class="button button-blue button-block">Iniciar Sesión</a>
                <a href="#/tab/registrar" class="button button-white button-block icon-left ion-ios-email-outline">
                    Registrarme Gratis
                </a>
            </div>
         </form>
      </div>
  </ion-content>
</ion-view>
