<ion-view view-title="Dashboard">
  <ion-content class="padding login">
      <div style="margin-top:20%;">
          <form ng-submit="login(data)">
            <div class="list">
                <div style="text-align: center; margin-bottom: 30px;">
                    <button class="button button-blue icon ion-android-camera button-redondo"></button>
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Nombres o Razón Social" ng-model="d.nombre">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Cédula o RUC" ng-model="d.ruc">
                </label>                
                <label class="item item-input">
                    <input type="email" placeholder="Email de contacto" ng-model="d.email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Dirección" ng-model="d.direccion">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Celular" ng-model="d.celular">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="d.password">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Ciudad
                    </div>
                    <select ng-model="d.ciudades_id">
                        <option value="1">Quito</option>
                    </select>
                </label>
            </div>
            <div class="button-bar">
                <a href="#/tab/main" class="button button-royal">CANCELAR</a>
                <button ng-click="registrar(d)" class="button button-calm">REGISTRAR</button>
            </div>
         </form>
      </div>
  </ion-content>
</ion-view>
