<ion-view view-title="Dashboard">
  <ion-content class="padding login">
      <div style="margin-top:20%;">
        <div style="text-align: center; margin-bottom: 30px;">
            <button class="button button-blue icon ion-android-camera button-redondo"></button>
        </div>
        <app-form inputs="inputs" submit="registrar" buttons="buttons" alert="showAlert"></app-form>
      </div>
  </ion-content>
</ion-view>
