<ion-view view-title="Confirmar Datos">
  <ion-content>
    <div class="list">
        <div class="item" ng-repeat="i in servicio.detalles">
            {{i.direccion}} - {{$index==0?'Recogida':'Entrega'}}
        </div>
    </div>
    <div class="item item-toggle">
        Ida y Vuelta
        <label class="toggle toggle-calm">
          <input type="checkbox" ng-model="servicio.ida_vuelta">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </div>
    <app-map center="basel" zoom="zoomMap" icon="iconMap" markers="markers" heightmap="220+'px'"></app-map>        
  </ion-content>
    <div class="button-bar" style="position:absolute; bottom:0px; margin:0px;">
        <button class="button button-royal icon ion-plus-circled" ng-click="add()"> DIRECCION</button>
        <button class="button button-calm icon ion-checkmark-circled" ng-click="solicitar()"> COMPLETAR</button>      
    </div>
</ion-view>
