<ion-view view-title="Dirección de Recogida">
  <ion-content>
    <app-map center="basel" zoom="zoomMap" icon="iconMap" normalmarkers="markers" heightmap="220+'px'"></app-map>
    <div class="list list-inset">
        <label class="item item-input ">
          <i class='icon ion-ios-location'></i>          
          <input type="text" ng-model='dir.direccion' placeholder="Dirección de Recogida">
        </label>
    </div>    
    <div class="list list-inset">
        <label class="item item-input ">
          <i class='icon ion-person'></i>          
          <input type="text" ng-model='dir.contacto' placeholder="Nombre de Contacto">
        </label>        
    </div>
    <div class="list list-inset">
        <label class="item item-input ">          
          <i class='icon ion-ios-telephone'></i>          
          <input type="number" ng-model='dir.telefono' placeholder="Numero de Contacto">
        </label>
    </div>        
    <button class="button button-calm button-full" ng-click="solicitar()">INGRESAR DIRECCION DE ENTREGA</button>
  </ion-content>    
</ion-view>
