<ion-view title="Información del paquete">
  <ion-content class="has-header">
      <div class="card">
          <div class="list">
              <div class="item">
                  <label class="item item-input">
                    <i class="icon ion-cube placeholder-icon"></i>
                    <input type="number" ng-model="servicio.valor_paquete" placeholder="Valor declarado del paquete">
                  </label>
              </div>
              <div class="item">
                  <label class="item item-input">
                    <i class="icon ion-document-text placeholder-icon"></i>
                    <input type="text" ng-model="servicio.descripcion" placeholder="Descripción del servicio">
                  </label>
              </div>
          </div>
      </div>
      <button class="button button-calm button-full" ng-click="solicitar()">CALCULAR PRECIO</button>      
  </ion-content>
</ion-view>