<ion-view title="Elije un tipo de pago">
  <ion-content class="has-header">
      <div class="card">
          <div class="item">
              <b>kilómetros a recorrer: </b> {{servicio.distancia}}
          </div>
          <div class="item" ng-if="servicio.precio2>0">
              <b>Costo kilómetros adicional: </b> ${{servicio.precio2}} 
          </div>
          <div class="item">
              <b>Precio: </b> ${{servicio.precio}}
          </div>
          <div class="item">
              <label class="item item-input">
                <i class="icon ion-cube placeholder-icon"></i>
                <input type="text" ng-model="servicio.cupon" placeholder="Tienes un cupón">
              </label>
              <button ng-if="servicio.cupon!==undefined" class="button button-icon" style="position:absolute; right:0px; top:15px; z-index:10000"><i class="icon ion-checkmark-circled placeholder-icon"></i></button>
          </div>
      </div>
      <div>
          <ion-item class="item-divider">Seleccione un medio de pago</ion-item>
          <ion-item ng-click="servicio.tipo_pago='1'; toggleGroup(0)">                    
              <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>
              <i ng-if="servicio.tipo_pago==='1'" class="icon ion-checkmark-circled"></i>
              Tarjeta de crédito              
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(0)">
              <div>
                  <div style="display:inline-block; width:49%; text-align: center;">
                      <img src="img/payphone.png" style="width:100%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      Paga en linea con tu tarjeta de crédito
                  </div>
              </div>
          </ion-item>
          <ion-item ng-click="servicio.tipo_pago='2'; toggleGroup(1)">                    
              <i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
              <i ng-if="servicio.tipo_pago==='2'" class="icon ion-checkmark-circled"></i>
              Transferencia Bancaria              
          </ion-item>
          <ion-item ng-show="isGroupShown(1)">
              <div>
                  <div style="display:inline-block; width:49%; text-align: center; vertical-align: top; padding-top: 60px;">
                      <img src="img/produbanco.jpg" style="width:40%;">
                      <img src="img/efectivo.png" style="width:40%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      <div>Transfiere a:</div>
                      <div ng-bind-html="ajustes.cuentas_bancarias"></div>
                  </div>
              </div>
          </ion-item>
          <ion-item ng-click="servicio.tipo_pago='3'; toggleGroup(2)">                    
              <i class="icon" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>
              <i ng-if="servicio.tipo_pago==='3'" class="icon ion-checkmark-circled"></i>
              Pago en efectivo
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(2)">
              <div>
                  <div style="display:inline-block; width:49%; text-align: center;">
                      <img src="img/monedas.png" style="width:60%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      Puedes escoger el lugar en donde entregaras el dinero a nuestro mensajero
                  </div>
              </div>
          </ion-item>
      </div>
      
        <div class="item" ng-if="servicio.tipo_pago==='3'">
            <p>Elije donde sera la recogida</p>
            <div class="item-input item-select">                  
                <select ng-model="servicio.efectivo_donde" placeholder="">
                    <option value="{{$index}}" ng-repeat="i in detalles">{{i.direccion1}}</option>
                </select>
            </div>
        </div>
      </div>
      <div class="card" ng-if="convenio=='1'">
          <div class="item item-divider">
              Tipo de pago
          </div>
          <div class="item-input">                  
                Convenio empresa
            </div>
      </div>
      <div class="button-bar">
        <button class="button button-royal icon ion-plus-circled" ng-click="add()"> DIRECCION</button>
        <button class="button button-calm icon ion-checkmark-circled" ng-click="solicitar()"> COMPLETAR</button>      
      </div>      
  </ion-content>
</ion-view>