<ion-view title="Dirección de entrega">
  <ion-content class="has-header">      
      <app-map direccion="direccion" center="basel" zoom="zoomMap" icon="iconMap" heightmap="innerheight"></app-map>
      <button class="button button-calm button-full" ng-click="solicitar()">INGRESAR DIRECCION DE ENTREGA</button>
      <div style="width:100%; z-index:1000; position: absolute; top:0px;">
          Formulario
      </div>
  </ion-content>
</ion-view>