<ion-view title="Escoge el tipo de servicio">
  <ion-content class="has-header">      
      <app-map direccion="direccion" center="basel" zoom="zoomMap" icon="iconMap" heightmap="innerheight" markers="markers"></app-map>
      <button class="button button-calm button-full" ng-click="solicitar()">CONFIRMAR DATOS DE ORIGEN</button>
      <div style="width:100%; z-index:1000; position: absolute; top:0px;">
          <div class="card">            
            <div class="item item-text-wrap">
              {{tiposServicios[servicio.tipotramite].descripcion.descripcion}}
            </div>
          </div>
          <div style="margin:20px 10px">
            <div class="row tiposerviciobutton">
                <div ng-click="pickExpress()" class="col {{servicio.tipotramite=='1'?'active':''}}">
                    <i class="icon ion-android-time" style="font-size:50px;"></i><br/>
                    Express
                </div>              
                <div ng-click="servicio.tipotramite='0'" class="col {{servicio.tipotramite=='0'?'active':''}} col-offset-10">
                    <i class="icon ion-android-bus" style="font-size:50px;"></i><br/>
                    Estándar 
                </div>
            </div>
          </div>
          <div class="card">
            <div>
                <div class="list list-inset">
                    <label class="item item-input">
                      <i class="icon ion-android-calendar placeholder-icon"></i>
                      <input type="date" ng-model="servicio.fechaactual" ng-change="validarTurno()" placeholder="Fecha">
                    </label>
                </div>
            </div>
            <div>
                <div class="list list-inset" ng-if="servicio.tipotramite==1">
                    <label class="item item-input">
                      <i class="icon ion-ios-clock-outline placeholder-icon"></i>
                      {{servicio.hora.getHours()+':'+servicio.hora.getMinutes()}}
                    </label>
                </div>
                <ion-list class="radio-inline" ng-if="servicio.tipotramite==0">
                    <ion-radio ng-model="servicio.turno" ng-value="'Mañana'" ng-if="turno=='1'">Mañana (8 am - 1 pm)</ion-radio>
                    <ion-radio ng-model="servicio.turno" ng-value="'Tarde'" ng-if="turno=='1' || turno=='2'">Tarde (2:00 pm - 6:00 pm)</ion-radio>
                    <ion-radio ng-model="servicio.turno" ng-value="''" ng-if="turno=='3'" ng-disabled="">Fuera de rango (08:00 am - 06:00pm)</ion-radio>
                </ion-list>
            </div>
          </div>
          
      </div>
  </ion-content>
</ion-view>