<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-stable">
        <h1 class="title">Favoritos</h1>
        <div class="buttons">
          <button class="button" ng-click='modal.hide();'>Cerrar</button>
        </div>
      </ion-header-bar>
      <ion-content class="has-header" ng-controller="Direcciones">
          <div class="list">
              <div class="item" ng-repeat="i in pedidos" ng-click="select(i)">
                  {{i.nombre}} <br/> {{i.direccion1}}
              </div>
          </div>
      </ion-content>
</ion-modal-view>