html,body{
    height:100%;
}

html h1, body h1 {
    font-family: "Lato",sans-serif !important;
}
html h1, body h1 {
    font-family: "Lato",sans-serif !important;
}
h1 {
    font-size: 2.75rem;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
h1 {
    font-size: 2.125rem;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizelegibility;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.btn-blue {
    background-color: #2b386c;
    border: 3px solid #2b386c;
    color: dimgrey;
}

/**** Header ****/
@media screen and (max-width:768px){
    header.top{
        position:inherit;        
    }
    
    body > div{
        margin-top:10px;
    }
    
    body > div > section{    
        padding:0px;
        max-width:100%;    
    }
}
@media screen and (min-width:768px){
    
    header.top{
        position:fixed;
        top:0px; 
        background:white; 
        width:100%;
        z-index:1000;
    }
    
    body > div{
        margin-top:80px;
    }
    
    body > div > section{    
        padding:50px;
        max-width:100%;    
    }
}


.navbar {    
    margin-bottom: 0 !important;
    min-height:75px;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 1px 0 #b5b5b5 !important;
    color: #666 !important;    
}

.navbar-right {    
    margin-top: 2% !important;
}

.navbar-default .navbar-nav > li > a {
    color: #000 ;
    font-family:Lato !important;
}

.navbar-default .navbar-nav > li > a.boton-blue {
    color: white !important;
    font-family: Lato !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent !important;
    color: #2b386c !important;
}

.boton-yellow {
    background-color: #ffc64b;
    border: 3px solid #ffc64b;
    color: rgba(0, 0, 0, 0.5);
    padding:10px !important;
    margin-right: 11px;
}

.boton-blue {
    background-color: #00bcd4;
    border: medium none #00bcd4;    
    margin-right: 11px;
    padding: 10px !important;
    color:white;
}

.boton-outlined {
    border: 3px solid #3f51b5;
    color:#3f51b5 !important;
    padding:7px 10px !important;
}

/**** Banner *********/
.banner{
    background:url(../../img/banner/banner.jpg) no-repeat;
    background-size:100%;    
    min-height:85%;
    background-position:0 -140px;    
}

.banner2{
    background:url(../../img/banner/banner2.jpg) no-repeat;
    background-size:cover;    
    min-height:85%;    
}

.banner3{
    background:url(../../img/banner/banner3.jpg) no-repeat;
    background-size:cover;    
    min-height:85%;    
}

.banner .row{
    margin-top: 44px;
    max-width: 100%;
    padding: 45px 0;
}

.banner h1 {
    font-size: 35px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 30px;
    text-align: left;
}

.banner div.row {
    height: 100%;
    position: relative;
}

.banner .row h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 0;
    text-align: center;
}

.banner h6 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
}
.banner .row h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}

.banner div.row .appStores {
    bottom: 0;
    position: absolute;
    right: 0;
}
/******** General *********/

body > div > section h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 0;
    text-align: center;
}

body > div > section h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 0;
    text-align: center;
}

#home-section-5 section h3 {
    color: dimgrey;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body > div > section h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}

/********** Home **********/
#home-section-3 {
    background-color: #4DD0E1;
    padding: 80px 0 35px;
}
#home-section-3 h6 {
    margin: 0 auto;
    max-width: 386px;
}
#home-section-3 img {
    display: block;
    margin: 35px auto;
}

#home-section-4, #company-section-4 {
    background-color: #4dd0e1;
    padding: 35px 0;
    text-align:center;
}

#home-section-4 img, #company-section-4 img{
    text-align:center;
}

#home-section-5, #company-section-5 {
    background-color: #fff;
    padding: 30px 0 60px;
    text-align: center;
}

#home-section-5 h1, #company-section-5 h1 {
    color: dimgray;
}

#home-section-5 .feature img, #company-section-5 .feature img {
    display: block;
    margin: 40px auto 0;
    text-align: center;
}

#home-section-5 .feature h3, #company-section-5 .feature h3 {
    color: dimgrey;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.57px;
    line-height: 24px;
    text-align: center;
}

#home-section-5 .feature p, #company-section-5 .feature p {
    color: dimgrey;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.46px;
    line-height: 19px;
    text-align: center;
}

#home-section-6, #company-section-6 {
    background-color: #e6e6e6;
    padding: 80px 0 35px;
}

#home-section-6 h2, #company-section-6 h2 {
    color: dimgrey;
    margin-bottom: 34px;
}

#home-section-6 h6, #company-section-6 h6 {
    color: dimgrey;
    font-size: 21px;
    letter-spacing: 0.6px;
    line-height: 25px;
    text-align: left;
}

#home-section-6 .row, #company-section-6 .row{
    text-align: center;
}

#home-section-7, #company-section-7 {
    background-color: #fff;
    text-align: center;
}

#home-section-7 h6, #company-section-7 h6 {
    color: dimgrey;
    font-size: 21px;
    letter-spacing: 0.6px;
    line-height: 25px;
    text-align: left;
}

#home-section-8 {
    background-color: #e6e6e6;
    height: 400px;   
    text-align: center;
}

#home-section-8 h6{
    color: dimgrey;
    font-size: 21px;
    letter-spacing: 0.6px;
    line-height: 25px;
    text-align: left;
}

#home-section-9, #company-section-8 {
    background: rgba(0, 0, 0, 0) url("../../img/cms/imagen_registrate_2@2x.png") repeat scroll 0 0 / cover ;
    padding: 80px;
}

#home-section-9 form, #company-section-8 form {
    background-color: #fff;
    border-radius: 4px;
    max-width: 100%;
    padding: 33px 59px;
    
}

#home-section-9 form h1, #company-section-8 form h1 {
    color: dimgrey;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 25px;
}

#home-section-9 form label, #company-section-8 form label {
    color: #a9a9a9;
    display: inline !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

#home-section-9 form button, #company-section-8 form button {
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 3px;
    margin: 18px auto 0;
    padding: 15px 25px;
    text-transform: none;
}

#home-section-9 form label a, #company-section-8 form label a {
    color: #2b386c !important;
}

#home-section-9 form h1 strong, #company-section-8 form h1 strong {
    color: #2b386c;
}

#home-section-10, #company-section-10 {
    background-color: #fff;
    padding: 25px 0 50px;
}

#home-section-10 h1, #company-section-10 h1 {
    color: dimgray;
    font-weight: 400;
    margin-bottom: 53px;
}

#home-section-10 img, #company-section-10 img {
    cursor: pointer;
    display: block;
    margin: 0 auto 15px;
}

.btn-red {
    background-color: #ff584b;
    border: 3px solid #ff584b;
    color: dimgrey;
}

#home-section-15{
     background:  url("../../img/cms/imagen-tiempo-real.png");
    padding: 230px 0;
}

/******** Footer ********/

footer {
    background-color: #45474d;
    clear: both;
}

footer h6 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

footer p {
    color: white;
    line-height: 30px;
    margin-bottom: 0;
}

footer #badges {
    background-color: #585b61;
    border-radius: 4px;
    padding: 16px;
}

footer #badges h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

footer #badges img {
    cursor: pointer;
}

footer .copy-right {
    margin-top: 16px;
}

.social-media-buttons {
    margin-bottom: 60px;
}

.social-media-buttons li {
    display: inline-block;
    float: left;
    padding-bottom: 28px;
    padding-left: 18px;
}

/********* Empresas *********/
#company-section-2 {
    background-color: #2b386c;
    padding: 43px 0;
}

#company-section-2 h2 {
    color: #fff;
    margin-bottom: 29px;
}

#company-section-2 div.row {
    max-width: 78rem;
}

#company-section-2 p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

#company-section-2 div.row {
    padding: 0 8px;
}
#company-section-2 div.row {
    padding: 0 8px;
}

#company-section-2 input {
    border-radius: 2px;
    height: 33px;
}

#company-section-3 {
    background-color: #fff;
    padding: 35px 0;
}

#company-section-3 h2 {
    color: #646464;
}

#company-section-4{
    background:#e6e6e6;
}

.courier-wrapper h2 {
    color: dimgrey !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    text-align: center !important;
}

#courier-section-2 {
    background-color: #f2f2f2;
    text-align: center;
}

#courier-section-2 h3 {
    margin-bottom: 29px;
}

#courier-section-2 button {
    border-radius: 4px;
    color: #fff;
    height: 50px;
}

#courier-section-3{
    background: rgba(0, 0, 0, 0) url("../../img/mapa-reclutar-mensajeros-urbanos.jpg") repeat scroll center center / cover ;    
    text-align: center;
}

#courier-section-3 h3 {
    color: #2b386c !important;
}

#courier-section-4{
    text-align:center;
}

#courier-section-4 h2 {
    color: #2b386c !important;
    margin-bottom: 20px;
}

#courier-section-4 div:nth-child(4) p {
    margin: 0;
}

#courier-section-* p {
    color: dimgrey;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

#courier-section-4 ul {
    list-style: outside none none;
}

#banner .carousel-caption {
    left: 0;
    padding-bottom: 30px;
    right: 0;
}

.tipo a{
    color:#2b386c;
}

.tipo a:hover, .tipo a.active{
    color:#339ec6;
}

@media screen and (min-width:768px){
    #rastrearForm{
        text-align: right; 
        padding: 0px 100px;
    }
    #home-section-5 .col-sm-extra{
        display:inline-block; 
        float:none;
    }
    
    #home-section-5 h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .footer-wrapper {
        margin: 40px 50px 30px 60px;
    }
}

@media screen and (max-width:768px){
    #rastrearForm{
        text-align: left; 
        padding: 0px 5px;
    }
    
    #home-section-5 h3 {    
        font-size: 14px;
    }
    
    #home-section-8 {        
        height: auto;
    }
    #home-section-9{
        padding:10px 0;
    }
    
    img{
        max-width:100% !important;
    }
   
    .panel-title {        
        font-size: 18px !important;
    }
    
    #home-section-9 form, #company-section-8 form {        
        padding: 0px;
    }
    
    #crudForm2 .col-xs-12{
        padding-left: 6px;
        padding-right: 6px;
    }
}

.pestanas{
    width:100%; 
    position: fixed; 
    bottom:0px; 
    z-index:10000
}
.pestanas a{
    color:black;
}

.pestanas div div{
    margin-bottom:0px; 
    text-align: center; 
    border-radius: 0;
    padding: 10px;
}

 .form-control {
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #00bcd4 !important;
        border-radius: 2em !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }