.pane, .view {
    background: #DFDFDF;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #333;
}

.bar.bar-positive {
    background: #333;
}

.main-botones{
    white-space: normal;
}

@media screen and (min-width:320px){
    .main-botones > div{
        width: 94%;
    }
}

@media screen and (min-width:360px){
    .main-botones > div{
        width: 43%;
    }
}

@media screen and (min-width:768px){
    .main-botones > div{
        width: 30%;
    }
}

.main-botones > div{
    background: #4f4f4f none repeat scroll 0 0;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 25px;
    text-align: center;    
    display:inline-block;
}
.main-botones a{
    color:white;    
    text-decoration: none;    
    font-size:12px;
}
.main-botones i{
    font-size:60px;
    display: block;
}

.pestanas{
    background:white;
    text-align: center;
}

.pestanas > div:first-child{
    border-right:1px solid gray;
}

.pestanas > div.active{
    border-bottom: 4px solid gray;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion .item, .list .item.item-accordion .item b{
    padding:2px 16px;
    font-size:14px;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}