<ion-view title="Chat Operador">
  <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
              Operadores
            </div>
            <a class="item" href="#tab/mensajes/{{i.id}}/{{i.nombre}}" ng-repeat="i in operadores">
                {{i.nombre}}
            </a>
        </div>
  </ion-content>
</ion-view>