<ion-view title="Historial de Servicios">
  <ion-content class="has-header">
      <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
      <ion-list class="list">
          <div ng-repeat="i in pedidos" ng-if="i.status=='5'">
            <ion-item class="item-divider" ng-click="toggleGroup(i.id)">                    
              <i class="icon" ng-class="isGroupShown(i) ? 'ion-minus' : 'ion-plus'"></i>              
              Pedido #{{i.id}} - {{transformarStatus(i)}}                    
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(i.id)">                
              <ion-list>
                  <ion-item class="item-divider"><b><i class="icon ion-clipboard"></i> Datos del pedido</b></ion-item>                  
                  <ion-item class="item-avatar-left" ng-click="agrandar(i)"><img src="{{i.foto}}"><span style="margin-left:56px; margin-top:10px;">{{i.cliente[0]}}</span></ion-item>
                  <ion-item class=""><b>Email: </b>{{i.cliente[1]}}</ion-item>
                  <ion-item class=" item-icon-right"><a href="tel:{{i.cliente[3]}}"><i class="icon ion-android-call"></i></a> <b>Teléfono: </b>{{selected.cliente[3]}}</ion-item>
                  <ion-item class=""><b>Fecha Solicitud: </b>{{i.fecha_solicitud}}</ion-item>                                    
                  <ion-item class=""><b>Tipo de Servicio </b>{{i.tipo_tramite}}</ion-item>

                  <div ng-repeat="k in i.descripcion.tareas">
                    <ion-item class="item-divider item-icon-right item-icon-left" ng-click="navegar(k.direccion)">
                        <i class="icon ion-clock" style="color:red" ng-if="k.status=='0'"></i>
                        <i class="icon ion-checkmark-circled" style="color:green" ng-if="k.status!='0'"></i>
                        <b style="margin-left:40px"> Tarea {{$index+1}}</b>
                        <i class="icon ion-ios-navigate-outline" style="color:#387ef5"></i>
                    </ion-item>
                    <ion-item class="item-text-wrap"><b>Dirección: </b>{{(k.direccion2!=='')?k.direccion1+' & '+k.direccion2:k.direccion1}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Numeración: </b>{{k.numeracion}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Referencia: </b>{{k.referencia}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Contacto: </b>{{k.contacto}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.status=='0'"><button ng-click="completar(k)" class="button button-full button-balanced"><i class="icon ion-checkmark-circled"></i> Completar Tarea</button></ion-item>
                  </div>
              </ion-list>                
            </ion-item>
          </div>
      </ion-list>
  </ion-content>
</ion-view>