<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ul class="list">            
            <li class="item item-toggle">
               Enviar Coordenadas
               <label class="toggle toggle-balanced">
                   <input type="checkbox" ng-model="workin" ng-change="toggleWorkin(workin)">
                 <div class="track">
                 <div class="handle"></div>
                 </div>
               </label>
            </li>            
      </ul>
  </ion-content>
</ion-view>