<ion-view title="Servicios Del Día">
  <ion-content class="has-header">
      <div class="row pestanas">
          <div class="col {{activo==1?'active':''}}" ng-click="activo=1">Itinerario</div>
          <div class="col {{activo==2?'active':''}}" ng-click="activo=2">Servicios</div>
      </div>      
      <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
      <!--- Pedidos --->
      
      <ion-list class="list" ng-if="activo==1">
        <div ng-if="list.length==0" style="text-align: center">
            No tiene pedidos pendientes para completar
        </div>
        <ion-item class="item item-icon-left item-icon-right" ng-repeat="i in list" ng-click="select(i)">
            <i class="icon ion-arrow-up-b" ng-if="$index!=0" ng-click="mover(-1,i)"></i>            
            {{i.direccion1}}
            <i class="icon ion-arrow-down-b" ng-if="$index!=0" ng-click="mover(1,i)"></i>
        </ion-item>
      </ion-list>
      
      <ion-list class="list" ng-if="activo==2">
          <div ng-if="list.length==0" style="text-align: center">
              No tiene pedidos pendientes para completar
          </div>
          <div ng-repeat="i in pedidos" ng-if="i.status!='5' && i.status!='6'">
            <ion-item class="item-divider" ng-click="toggleGroup(i.id)">                    
              <i class="icon" ng-class="isGroupShown(i) ? 'ion-minus' : 'ion-plus'"></i>              
              Pedido #{{i.id}} - {{transformarStatus(i)}}<br/><small style="font-size:12px">{{transformarTipoTramite(i.tipo_tramite)}}|{{transformarEntrega(i.fecha_solicitud,i.turno)}}</small>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(i.id)">                
              <ion-list>
                  <ion-item class="item-divider"><b><i class="icon ion-clipboard"></i> Datos del pedido</b></ion-item>                  
                  <ion-item class="item-avatar-left" ng-click="agrandar(i)"><img src="{{i.foto}}"><span style="margin-left:56px; margin-top:10px;">{{i.cliente[0]}}</span></ion-item>
                  <ion-item class=""><b>Email: </b>{{i.cliente[1]}}</ion-item>
                  <ion-item class=" item-icon-right"><a href="tel:{{i.cliente[3]}}"><i class="icon ion-android-call"></i></a> <b>Teléfono: </b>{{i.cliente[3]}}</ion-item>
                  <ion-item class=""><b>Fecha Creación </b>{{i.fecha}}</ion-item>
                  <ion-item class=""><b>Entregar en: </b>{{transformarEntrega(i.fecha_solicitud,i.turno)}}</ion-item>
                  <ion-item class=""><b>Tipo de Servicio </b>{{transformarTipoTramite(i.tipo_tramite)}}</ion-item>
                  <ion-item class="item-text-wrap">{{i.descripcion.descripcion}}</ion-item>
                  <ion-item class="item-text-wrap" ng-if="!isNaN(parseInt(i.tipo_pago_detalle))"><b>Pago en efectivo en: </b>{{i.tipo_pago_detalle}}</ion-item>
                  
                  <ion-item class="item-text-wrap" ng-if="i.firma=='' || i.firma==null">
                      <a href="#/tab/firma/{{i.id}}" class="button button-full button-calm"><i class="icon ion-compose"></i> Subir Firma</a>
                  </ion-item>
                  
                  <ion-item class="item-text-wrap" ng-if="!isNaN(parseInt(i.tipo_pago_detalle)) && i.pagado=='0'">
                      <button ng-click="enviarpago(i)" class="button button-full button-assertive"><i class="icon ion-money"></i> Notificar pago por ${{i.precio}}</button>
                  </ion-item>
                  
                  <div ng-repeat="k in i.descripcion.tareas">
                    <ion-item class="item-divider item-icon-right item-icon-left" ng-click="navegar(k)">
                        <i class="icon ion-clock" style="color:red" ng-if="k.status=='0'"></i>
                        <i class="icon ion-checkmark-circled" style="color:green" ng-if="k.status!='0'"></i>
                        <b style="margin-left:40px"> Tarea {{$index+1}}</b>
                        <i class="icon ion-ios-navigate-outline" style="color:#387ef5"></i>
                    </ion-item>
                    <ion-item class="item-text-wrap"><b>Dirección: </b>{{(k.direccion2!=='')?k.direccion1+' & '+k.direccion2:k.direccion1}}</ion-item>
                    <ion-item class="item-text-wrap"><b>Dirección Manual: </b>{{k.direccion}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Numeración: </b>{{k.numeracion}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Referencia: </b>{{k.referencia}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.numeracion!==''"><b>Contacto: </b>{{k.contacto}}</ion-item>
                    <ion-item class="item-text-wrap" ng-if="k.status=='0'"><button ng-click="completar(k)" class="button button-full button-balanced" ng-if="!sendit"><i class="icon ion-checkmark-circled"></i> Completar Tarea</button></ion-item>
                  </div>
              </ion-list>                
            </ion-item>
          </div>
      </ion-list>
      
  </ion-content>
</ion-view>