<ion-view title="{{nombre}}">
  <ion-content class="has-header">      
      <div class="main-botones">
            <div><a href="#/tab/itinerario"><i class="icon ion-speedometer"></i> Servicios del dia</a></div>
            <div><a href="#/tab/pedidos"><i class="icon ion-android-globe"></i> Servicios Global</a></div>
            <div><a href="#/tab/estado"><i class="icon ion-wifi"></i> Estado</a></div>            
            <div><a href="#/tab/historial"><i class="icon ion-refresh"></i> Historial</a></div>
            <div><a href="#/tab/chat"><i class="icon ion-chatbubbles"></i> Chat Operador</a></div>
            <div><a href="#/tab/perfil"><i class="icon ion-person"></i> Perfil</a>    </div>
      </div>      
  </ion-content>
</ion-view>