<ion-view title="{{destino}}">
  <ion-content class="has-header">
      <ion-list>
          <ion-item ng-if="mensajes.length===0">Se el primero en escribirle a {{destino}}</ion-item>
          <ion-item class="item-text-wrap" ng-class="i.user_id==user?'balanced':''" ng-repeat="i in mensajes" ng-if="i.user_id==destinoid || i.user_id==user">{{i.mensaje}}</ion-item>
      </ion-list>
  </ion-content>
    
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">        
      <label class="item-input-wrapper">
        <input type="text" placeholder="Escribe tu mensaje" ng-model="texto" />
      </label>
      <button class="button button-clear" ng-click="sendMessage(texto)">
          <i class="icon ion-android-send"></i>
      </button>
    </ion-footer-bar>
</ion-view>