<ion-view title="Servicios Global">
  <ion-content class="has-header">
      <div class="list">
          <a class="item item-avatar-left item-icon-right" href="#tab/pedidos/{{i.id}}" ng-repeat="i in pedidos">
              <img class="nav-user-photo" src="{{i.foto}}" />
              Pedido #{{i.id}} - {{transformarStatus(i)}} 
              <i class="icon {{i.tipo_tramite!=='3'?'ion-cube':'ion-email'}}"></i>
          </a>
      </div>      
  </ion-content>
</ion-view>