<ion-view title="Perfil">
  <ion-content class="has-header">
      <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="Contraseña" ng-model="datos.password">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Nombre" ng-model="datos.nombre">
            </label>            
      </div>
      <button ng-click="send(datos)" class="button button-balanced button-block">Actualizar datos</button>
      <button ng-click="unlog()" class="button button-assertive button-block">Cerrar Sesión</button>
  </ion-content>
</ion-view>