<ion-view title="Información de viaje">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item item-icon-right item-text-wrap">
                <i class="icon ion-key"></i>
                ID: {{taskSelected.id}}
            </ion-item>
            <ion-item class="item item-icon-right item-text-wrap" ng-click="fillDirection(taskSelected)">
                <i class="icon ion-ios-navigate"></i>
                {{taskSelected.direccion!=''?taskSelected.direccion:'Debe llenar la dirección'}}
            </ion-item>
            <ion-item class="item item-icon-right" ng-click="openNavigation(taskSelected.lat,taskSelected.lon)">
                <i class="icon ion-ios-location" style="color:green"></i>
                Abrir Navegación
            </ion-item>
            <ion-item class="item item-icon-right">
                <i class="icon ion-cash" style="color:green"></i>
                Monto a cobrar: <b>${{taskSelected.precio}}</b>
            </ion-item>
            <ion-item class="item item-icon-right">
                <i class="icon {{taskSelected.status=='1'?'ion-checkmark-circled':'ion-clock'}}" style="color:{{taskSelected.status=='1'?'green':'gray'}}"></i>
                Status
            </ion-item>
        </ion-list>
        <button ng-if="task.length>0 && taskSelected.direccion!=''" class="button button-balanced button-block" ng-click="complete_task(taskSelected)">Completar Tarea</button>
        <a href="#/tab/itinerario" class="button button-assertive button-block">Regresar</a>
    </ion-content>
</ion-view>

