<ion-view title="Calificar al mensajero">
  <ion-content class="has-header" style="background:  #00b8d4">
      <div class="card">
          <div class="item">
              <p>Ayúdanos a seguir mejorando para brindarte un mejor servicio calificando tu experiencia con nosotros</p>
              <p>¿Como calificas a nuestro mensajero?</p>
              <div class="row">
                  <div class="col-75">
                      <h2 style="color:#2b376b"> {{pedidos[0].sdfe80649[0]}}</h2>
                      <div>
                            <span style="font-size:28px" class="{{datos.calificacion>=1?'ion-ios-star':'ion-ios-star-outline'}}" ng-click="datos.calificacion=1"></span>
                            <span style="font-size:28px" class="{{datos.calificacion>=2?'ion-ios-star':'ion-ios-star-outline'}}" ng-click="datos.calificacion=2"></span>
                            <span style="font-size:28px" class="{{datos.calificacion>=3?'ion-ios-star':'ion-ios-star-outline'}}" ng-click="datos.calificacion=3"></span>
                            <span style="font-size:28px"class="{{datos.calificacion>=4?'ion-ios-star':'ion-ios-star-outline'}}" ng-click="datos.calificacion=4"></span>
                            <span style="font-size:28px" class="{{datos.calificacion>=5?'ion-ios-star':'ion-ios-star-outline'}}" ng-click="datos.calificacion=5"></span>
                      </div>
                      <div>
                          <textarea placeholder="Deja un comentario" ng-model="datos.comentario"></textarea>
                      </div>
                  </div>
                  <div class="col-25">
                      <img src="{{pedidos[0].foto}}" style="width:100%"><br/>
                  </div>
              </div>
                
          </div>
      </div>
  </ion-content>
    <button ng-if="pedidos[0].status==5" class="button button-royal button-full" ng-click="calificar()" style="position:absolute; bottom:0px">Calificar</button>
</ion-view>