<ion-view title="Direcciones Frecuentes">
  <ion-content class="has-header">      
      <div class="card text-wrap" ng-repeat="i in pedidos">
          <div class="list">
              <div class="item">
                  <div class="row pedidolist">
                      <div class="col pedidolist-title text-wrap">
                          <input type="text" ng-model="dir[$index].nombre" placeholder="Ingrese un nombre" ng-blur="editar(i.id,dir[$index].nombre)">
                      </div>
                  </div>
                  <div class="pedidolist-decr" style="white-space:normal">
                      <i class="icon ion-ios-location"></i> {{i.direccion1}}
                  </div>
                  <div class="pedidolist-decr" style="color:red" ng-click="borrar(i.id)">
                      <i class="icon ion-ios-close"></i> Borrar
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>