<ion-view title="{{nombre}}">
  <ion-content class="has-header"> 
      <form ng-submit="nada()">
      <app-map clickevent="clickevent" direccion="direccion" center="basel" zoom="zoomMap" icon="iconMap" heightmap="innerheight" normalmarkers="markers" lugares="bindLatLonFromInput"></app-map>
      <button type="button" class="button button-calm button-full" ng-click="solicitar()">{{buttonlabel}}</button>
      <!--- Search ---->
      <div class="list list-inset input-rounded" style="position:absolute; top:0px; left:10px; z-index:1000">
          <div class="relative">
                <label class="item item-input">          
                    <input type="text" placeholder="Barrio, Sector o Calle Principal..." ng-model="dir.direccion1" ng-change="bindInputs()">
                </label>
              <i class="icon ion-search" style="position: absolute; z-index: 1000; right: 0px; font-size: 20px; top: 12px;"></i>
          </div>
      </div>
      <button type="button" class="button button-stable icon ion-star buttonFav" ng-click="pickFav()"></button>
      <!--- Fin Search --->
      <!--- Search 2 ----->
      <div class="list list-inset input-rounded" style="position:absolute; bottom:70px; left:10px; z-index:1000" ng-if="dir.direccion1!==''">
          <div class="relative">
                <label class="item item-input">
                    <input type="text" placeholder="Intersección" ng-model="dir.direccion2" ng-change="bindInputs()">
                </label>
                <i class="icon ion-search" style="position: absolute; z-index: 1000; right: 0px; font-size: 20px; top: 12px;"></i>
            </div>
      </div>
      <button type="button"  class="button button-stable icon ion-pinpoint buttonHere" ng-click="bindGPS()"></button>
      <!--- Fin Search 2 ---->
      </form>
  </ion-content>
</ion-view>