<ion-view title="Opciones de pago">
  <ion-content class="has-header">
      <div class="card">
          <div class="item">
              <h2>Tarjeta de crédito</h2>
              <div>
                  <div style="display:inline-block; width:49%; text-align: center;">
                      <img src="img/payphone.png" style="width:100%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      Paga en linea con tu tarjeta de crédito
                  </div>
              </div>
          </div>
          <div class="item">
              <h2>Transferencia Bancaria</h2>
              <div>
                  <div style="display:inline-block; width:49%; text-align: center;">
                      <img src="img/produbanco.jpg" style="width:100%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      <div>Transfiere a:</div>
                      <div ng-bind-html="ajustes.cuentas_bancarias"></div>
                  </div>
              </div>
          </div>
          <div class="item">
              <h2>Pago en efectivo</h2>
              <div>
                  <div style="display:inline-block; width:49%; text-align: center;">
                      <img src="img/monedas.png" style="width:60%;">
                  </div>
                  <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                      Puedes escoger el lugar en donde entregaras el dinero a nuestro mensajero
                  </div>
              </div>
          </div>
      </div>     
  </ion-content>
</ion-view>