<ion-view title="Mis Pedidos">
  <ion-content class="has-header">      
      <div class="card text-wrap" ng-repeat="i in pedidos" ng-click="goRastrear(i)">
          <div class="list">
              <div class="item">
                  <div class="row pedidolist">
                      <div class="col pedidolist-title">
                          {{transformarSolicitud(i)}} <br/><small>{{i.status<0?'Cancelado':i.status<5?'En proceso':'Completado'}}</small>
                      </div>
                      <div class="col">
                            {{transformarStatus(i)}}
                      </div>
                  </div>
                  <div class="pedidolist-decr">
                      <i class="icon ion-ios-location"></i> {{i.descripcion.tareas[0].direccion1}}
                  </div>
                  <div class="pedidolist-decr">
                      <i class="icon ion-person"></i> {{i.repartidores_id!==null?i.sdfe80649[0]:'Repartidor sin asignar'}}
                  </div>
                  <div class="pedidolist-decr">
                      <i class="icon ion-android-calendar"></i> {{i.fecha_solicitud}}
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>