<ion-view title="Perfil">
  <ion-content class="has-header">
      <div class="list">
          <div align="center" ng-click="triggerFile()">
              <img src="{{foto}}" class="avatar"><br/><br/> 
              <span style="color:blue">
                  <i class="icon ion-edit"></i> Editar foto
              </span>
              <br/>
              <br/>
          </div>
          <label class="item item-input">
              <input type="text" placeholder="Nombres o Razón Social" ng-model="datos.nombre">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Cédula o RUC" ng-model="datos.ruc">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Dirección" ng-model="datos.direccion">
          </label>
          <label class="item item-input">
                <input type="text" placeholder="Celular" ng-model="datos.celular">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña" ng-model="datos.password">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                  Ciudad
                </div>
                <select ng-model="datos.ciudades_id">
                    <option value="1">Quito</option>
                </select>
            </label>
      </div>
      <button ng-click="send(datos)" class="button button-calm button-block">Actualizar datos</button>      
  </ion-content>
</ion-view>