<ion-view>
  <ion-nav-title>Rastrear #{{guia}}</ion-nav-title>
  <ion-content class="has-header" style="background:  #00b8d4">      
      <app-map ng-if="pedido.status>1 && pedido.status<5" center="basel" zoom="zoomMap" icon="iconMap" markers="markers" normalmarkers="normalmarkers"></app-map>
      <div class="card" style="position: absolute; top: 0px; margin: 0px; width: 100%;">
          <div class="item">
                <div style="position: absolute; height: 3px; background: #00b8d4 none repeat scroll 0% 0%; top: 44px; left: 40px; width: 72%;"></div>
                <ul class="rastreo" style="text-align:center;" ng-if="pedido.status>=0 && pedido.status!=3">
                        <li><div class="number {{pedido.status>0?'active2':pedido.status==0?'active':''}}">1</div> <div class="{{pedido.status>0?'text2':'text'}}">{{pedido.status==0?'Esperando Pago':'Sin Asignar'}}</div></li>
                        <li><div class="number {{pedido.status>2?'active2':pedido.status==2?'active':''}}">2</div> <div class="{{pedido.status>2?'text2':'text'}}">Mensajero Asignado</div></li>
                        <li><div class="number {{pedido.status>3?'active2':pedido.status==3?'active':''}}">3</div> <div class="{{pedido.status>3?'text2':'text'}}">Paquete Recogido</div></li>
                        <li><div class="number {{pedido.status>4?'active2':pedido.status==4?'active':''}}">4</div> <div class="{{pedido.status>4?'text2':'text'}}">En Tránsito</div></li>
                        <li><div class="number {{pedido.status>5?'active2':pedido.status==5?'active':''}}">5</div> <div class="{{pedido.status>5?'text2':'text'}}">Entregado</div></li>
                </ul>
                 <ul class="rastreo" style="text-align: center" ng-if="pedido.status==3">
                    <li><div class="number {{pedido.status>0?'active2':pedido.status==0?'active':''}}">1</div> <div class="{{pedido.status>0?'text2':'text'}}">{{pedido.status==0?'Esperando Pago':'Sin Asignar'}}</div></li>
                    <li><div class="number {{pedido.status>2?'active2':pedido.status==2?'active':''}}">2</div> <div class="{{pedido.status>2?'text2':'text'}}">Mensajero Asignado</div></li>
                    <li><div class="number {{pedido.status>3?'active2':pedido.status==3?'active':''}}">3</div> <div class="{{pedido.status>3?'text2':'text'}}">Trámite en proceso</div></li>                            
                    <li><div class="number {{pedido.status>4?'active2':pedido.status==4?'active':''}}">4</div> <div class="{{pedido.status>4?'text2':'text'}}">Trámite Finalizado</div></li>
                 </ul>
                <ul ng-if="pedido.status<0">
                     <li><div class="number active">5</div> <div class="text">Cancelado</div></li>  
                </ul>
              
          </div>
      </div>
      <div style="padding-top:100px">
            <div ng-if="pedido.status===0" class="card">
                            <div class="item" ng-if="pedido.tipo_pago=='1'" ng-click="openpayphone()">
                                <h2>Tarjeta de crédito</h2>
                                <div>
                                    <div style="display:inline-block; width:49%; text-align: center;">
                                        <img src="img/payphone.png" style="width:100%;">
                                    </div>
                                    <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                                        Paga en linea con tu tarjeta de crédito
                                    </div>
                                </div>
                            </div>
                
                            <div class="item" ng-if="pedido.tipo_pago=='2'">
                                <h2>Transferencia Bancaria</h2>
                                <div>
                                    <div style="display:inline-block; width:49%; text-align: center;">
                                        <img src="img/produbanco.jpg" style="width:100%;">
                                    </div>
                                    <div style="display:inline-block; width:49%; white-space: pre-wrap;">
                                        <div>Transfiere a:</div>
                                        <div ng-bind-html="ajustes.cuentas_bancarias"></div>
                                    </div>
                                </div>
                            </div>
            </div>
          
          <div ng-if="pedido.status===1" class="card">
                  Aguarda por un mensajero, en breve asignaremos uno para entregar su pedido
            </div>
          
          <div ng-if="pedido.status>=5" class="card">
              <div class="item">
                  <p>Envio entregado con exito en:</p>
                  <p><b>{{pedido.descripcion.tareas[pedido.descripcion.tareas.length-1].direccion1}}</b></p>
                  <p>Firma de recepcion: </p>
                  <center><img src="https://mensajeros.ec/img/firmas/{{pedido.firma}}" style="width:70%"></center>
                  <p align="center">
                      <b>Atentamente:</b>
                      <br/>{{pedido.firmante}}
                  </p>
              </div>
            </div>
      </div>
  </ion-content> 
    <button ng-if="pedido.status==5" class="button button-royal button-full" ng-click="calificar()" style="position:absolute; bottom:0px">Finalizar y Calificar</button>
    <div class="ng-binding" ng-click="buscarRepartidor();" style="position: absolute; width: 100px; bottom: 50px; left: 5px; text-align: center; background: white none repeat scroll 0% 0%; padding: 20px; border-radius: 100%; font-size: 40px; border: 1px solid lightgray;" ng-if="pedido.status>1 && pedido.status<5">
        <i class="icon ion-android-bicycle"></i>
    </div>
    <div class="ng-binding" style="position: absolute; width: 100px; bottom: 50px; right: 5px; text-align: center; background: white none repeat scroll 0% 0%; padding: 20px;" ng-if="pedido.status>1 && pedido.status<5">
        <img src="{{pedido.foto}}" style="width:100%"><br/>
        {{pedido.sdfe80649[0]}} {{pedido.sdfe80649[3]}}
    </div>
</ion-view>