<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">                
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>                    
            </ion-nav-buttons>
            <ion-nav-buttons side="right">

            </ion-nav-button>
        </ion-nav-bar>
        <ion-nav-view name="tab-main" animation="slide-left-left"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-calm" style="border:0px">
            <h1 class="title"></h1>
        </header>
        <ion-content class="has-header calm-bg">
            <div align="center" style="color:white; margin-bottom: 80px;" ng-click="goPerfil()">
                <img src="{{foto}}" class="avatar"><br/>
                {{nombre}}
            </div>
            <ul class="list calm-bg">
                <a ui-sref="tab.main" menu-toggle="left" nav-clear class="item item-calm" style="border:0px;">Solicitar un Envío</a>
                <a ui-sref="tab.pedidos" menu-toggle="left" nav-clear class="item item-calm" style="border:0px;">Mis envíos</a>
                <a ui-sref="tab.direcciones" menu-toggle="left" nav-clear class="item item-calm" style="border:0px;">Direcciones Frecuentes</a>
                <a ui-sref="tab.pagos" menu-toggle="left" nav-clear class="item item-calm" style="border:0px;">Opciones de Pago</a>
                <a ng-click="desconectar()" menu-toggle="left" nav-clear class="item item-calm" style="border:0px;">Log Out</a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>