<ion-view view-title="Dashboard">
  <ion-content style="background:#0097a7">      
      <ion-slide-box>            
            <ion-slide>
                    <img src="img/tour1.jpg" style="width:100%">
                    <p style="color:white;margin:40px 40px; font-weight: bold; font-size:20px;">Con Mensajeros EC envía documentos y paquetes desde la comodidad de tu hogar u oficina</p>
            </ion-slide>
            <ion-slide>
                    <img src="img/tour6.jpg" style="width:100%">
                    <p style="color:white;margin:40px 40px; font-weight: bold; font-size:20px;">Podrás escoger las direcciones de recogida y entrega de tu paquete fácilmente y monitorear al mensajero en tiempo real</p>
            </ion-slide>
            <ion-slide>
                    <img src="img/tour3.jpg" style="width:100%">
                    <p style="color:white;margin:40px 40px; font-weight: bold; font-size:20px;">Escoge la forma de pago que más se ajuste a tus necesidades</p>
            </ion-slide>
          <ion-slide>
                    <img src="img/tour4.jpg" style="width:100%">
                    <p style="color:white;margin:40px 40px; font-weight: bold; font-size:20px;">Realiza tus envíos con confianza y seguridad, serás notificado del estado de tu envío hasta su entrega</p>
            </ion-slide>
         </ion-slide-box>  
  </ion-content>
    <div class="button-bar" style="position:absolute; bottom:0px; margin:0px;">
        <button class="button button-calm" ng-click="saltar()">Saltar Tour</button>
    </div>
</ion-view>
