<ion-view title="Firma">
  <ion-content class='has-header padding' scroll='false'>      
      <div id="signature-pad" class="m-signature-pad">
            <div class="m-signature-pad--body" style="background:white;">
              <canvas width='300' height='300' style='border: 1px solid black;'></canvas>
            </div>
          <div class="list">
              <label class="item-input-wrapper">
                <input type="text" placeholder="¿Quien realiza la firma?" ng-model="firmante" />
              </label>
          </div>
            <div class="m-signature-pad--footer">
              <div class="description">Coloque su firma en el recuadro</div>
              <button type="button" class="button clear" ng-click="subir(firmante)">Subir firma</button>
              <button type="button" class="button clear" ng-click="clear()">Limpiar</button>
            </div>
      </div>
  </ion-content>
</ion-view>