<ion-modal-view>
    <div class="bar bar-header bar-balanced">
       <h1 class="title">Datos del pedido - {{selected.direccion.status=='0'?'Pendiente':'Completada'}}</h1>
    </div>
    <ion-content class="padding" style="margin-top:50px;">
        <ion-list>
            <ion-item class="item-divider"><b><i class="icon ion-clipboard"></i> Datos del pedido</b></ion-item>
            <ion-item class="item-text-wrap"><b>#Pedido: </b>{{selected.id}}</ion-item>
            <ion-item class="item-text-wrap item-avatar-left" ng-click="agrandar(selected)"><img src="{{selected.foto}}">{{selected.cliente[0]}}</ion-item>
            <ion-item class="item-text-wrap"><b>Email: </b>{{selected.cliente[1]}}</ion-item>
            <ion-item class="item-text-wrap item-icon-right"><a href="tel:{{selected.cliente[3]}}"><i class="icon ion-android-call"></i></a> <b>Teléfono: </b>{{selected.cliente[3]}}</ion-item>
            <ion-item class="item-text-wrap"><b>Fecha Creación: </b>{{selected.fecha}}</ion-item>
            <ion-item class="item-text-wrap"><b>Entregar en: </b>{{transformarEntrega(selected.fecha_solicitud,selected.turno)}}</ion-item>
            <ion-item class="item-text-wrap"><b>Fecha Entrega: </b>{{selected.fecha_entrega}}</ion-item>
            <ion-item class="item-text-wrap" ng-if="!isNaN(parseInt(selected.tipo_pago_detalle))"><b>Pago en efectivo en: </b>{{selected.tipo_pago_detalle}}</ion-item>
            <ion-item class="item-text-wrap"><b>Tipo de Servicio </b>{{transformarTipoTramite(selected.tipo_tramite)}}</ion-item>
            
            <ion-item class="item-text-wrap">{{selected.descripcion.descripcion}}</ion-item>
            <ion-item class="item-divider item-icon-right" ng-click="navegar(selected.direccion)"><i class="icon ion-ios-navigate-outline" style="color:#387ef5"></i><b> Datos de Dirección</b></ion-item>
            <ion-item class="item-text-wrap"><b>Dirección: </b>{{(selected.direccion.direccion2!=='')?selected.direccion.direccion1+' & '+selected.direccion.direccion2:selected.direccion.direccion1}}</ion-item>
            <ion-item class="item-text-wrap" ng-if="selected.direccion.numeracion!==''"><b>Numeración: </b>{{selected.direccion.numeracion}}</ion-item>
            <ion-item class="item-text-wrap" ng-if="selected.direccion.referencia!==''"><b>Referencia: </b>{{selected.direccion.referencia}}</ion-item>
            <ion-item class="item-text-wrap" ng-if="selected.direccion.contacto!==''"><b>Contacto: </b>{{selected.direccion.contacto}}</ion-item>            
        </ion-list>
        <p ng-if="selected.direccion.status=='0'"><button ng-click="completar(selected.direccion)" class="button button-full button-balanced"><i class="icon ion-checkmark-circled"></i> Completar Tarea</button></p>
        <p><button ng-click="modal.hide()" class="button button-full button-assertive">Cerrar</button></p>
    </ion-content>
</ion-modal-view>

