<ion-modal-view>
    <div class="bar bar-header bar-balanced">
       <h1 class="title">{{perfild.cliente[0]}}</h1>
    </div>
    <ion-content class="padding" style="margin-top:50px;">
        <img src="{{perfild.foto}}" style="width:100%;">
        <p><button ng-click="perfil.hide()" class="button button-full button-assertive">Cerrar</button></p>
    </ion-content>
</ion-modal-view>

