.bar.bar-stable .title {
    color: #1a237e;
}

.bar-stable .button.button-clear {
    color: #9fa8da;
}

.input-rounded{
    border: 1px solid #9fa8da !important;
    border-radius: 20px;    
    color:#9fa8da;
}

.input-rounded .icon{
    margin-right:10px;
}

.input-rounded input, .input-rounded .item{
    border:0px !important;
    border-color: transparent !important;
    padding-right: 12px !important;
}

.buttonFav{
    border-radius: 100%;
    color: #00b8d4 !important;
    position: absolute;
    right: 30px;
    top: 21px;
    z-index: 1000;
}

.buttonHere{
    border-radius: 100%;
    color: #2b376b !important;
    position: absolute;
    right: 30px;
    bottom: 91px;
    z-index: 1000;
}

.avatar{
    background: white none repeat scroll 0 0;
    border-radius: 100%;
    height: 80px;    
    width: 80px;
}

.tiposerviciobutton{
    text-align: center;
}

.tiposerviciobutton .col{
    padding:20px;
    color:#2b376b;
    background: white;
    font-weight: bold;
}

.tiposerviciobutton .col.active{
    background:#2b376b;
    color:white;
}

.pedidolist{
    color:#00b8d4;
}

.pedidolist-title{
    color:#2b376b;
    font-weight: bold;
}

.pedidolist-title small{
    color:#00b8d4;
}

.pedidolist-decr{
    color:#2b376b;
     padding: 3px;
}

.pedidolist-decr i{
    color:#00b8d4;
}

/***** Rastreo ********/
.rastreo, .rastreo li{
    margin:0px;
    padding:0px;
    list-style:none;
}

.rastreo li{
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px;
    text-align: center;
    width: 18%;
    white-space: normal;
    vertical-align: top;
}

.rastreo li .text{
    line-height: 12px;
    color:#2b376b;
}

.rastreo li .number{
    padding:5px 10px; 
    border:1px solid lightgray;
    border-radius:100%;
    text-align:center;
    width:40px;
    margin:0 auto;
    background:white;
    position:relative;
    border: 1px solid #00b8d4;
    background:white;
     line-height: 24px;
     color:#00b8d4;
}

.rastreo li .active{
    background:#2b376b;
    color:white;
}

.rastreo li .active2{
    background:#00b8d4;
    color:#00b8d4;
}

.rastreo li .text2{
    line-height: 12px;
    color:#00b8d4;
}

.slider-pager .slider-pager-page {
    color: white;
}