.pane, .view {
    background: linear-gradient(to top, #01253a, #075e91);
}

.registro{
    color:white;
    background:url(../img/loginbg.png);
    background-size:cover;
}

.login{
    color:white;
    background:url(../img/loginbg.png);
    background-size:cover;
}

.registro h1, .registro h2, .registro h3, .registro h4, .registro p{
    color:white;
}

.registro .item-checkbox{
    background:transparent;
    color:white;
    border:0px;
}

.registro .item-floating-label{
    background:white;
}

.registro .social {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.registro .social span {
    display: inline-block;
    padding: 0 20px;
    vertical-align: baseline;
}

.registro .social span::before, .registro .social span::after {
    border-top: 1px solid White;
    content: "";
    display: block;
    position: absolute;
    top: 0.9em;
    width: 500px;
}

.registro .social span::after {
    left: 90%;
}

.registro .social span::before, .content .social span::after {
    border-top: 1px solid White;
    content: "";
    display: block;
    position: absolute;
    top: 0.9em;
    width: 500px;
}

.registro .social span::before {
    right: 90%;
}

.registro .social .button{
    font-size:12px;
    color:white;
    border:none;
}

.registro .social .facebook{
    background:#4464b2;
}
.registro .social .twitter{
    background:#28a9e0;
}
.registro .social .google{
    background:#da4735;
}

.button.button-blue {
    background-color: #00b8d4;
    border-color: transparent;
    color: #fff;
}

.button.button-blue.activated {
    background-color: #007894;
    border-color:#a2a2a2;
}

.button.button-white {
    color: #00b8d4;
}

.button.button-white.activated {
    background-color: #e5e5e5;
    border-color:#a2a2a2;
}

.item.item-input{
    background-color: transparent;
    border:0px;
    border-bottom: 2px solid #00b9e6;
    color: #727272;
    padding: 3px 16px;
}

.button-redondo{
    border-radius:100%;
    font-size:30px;
}

.item-select select {
    -moz-appearance: none;
    background: transparent;
    border:0px;    
    color: #727272;    
}